.cardMargin {
margin-left: 10px;
padding-left: 10px;



}

.whitesmoke {
    color:whitesmoke;
}

.f10 {
    font-size: 14px;
    font-weight: 300;
}

.f16 {
    font-size: 16px;
    font-weight: 300;
}